docker/atomics-overrides/PRIVESC.SUDO/PRIVESC.SUDO.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/BASE64.CLI/BASE64.CLI.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/CONTAINER.ESCAPE.NSENTER/CONTAINER.ESCAPE.NSENTER.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/RECON.LINPEAS/RECON.LINPEAS.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/DB.PWNED.NEWPROC/DB.PWNED.NEWPROC.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/PACKET.SOCKET.CONTAINER/PACKET.SOCKET.CONTAINER.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/SUSPICIOUS.HOMEDIR/SUSPICIOUS.HOMEDIR.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/DISALLOWED.HTTP_PROXY/DISALLOWED.HTTP_PROXY.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/CREDS.DUMP.MEMORY/CREDS.DUMP.MEMORY.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/SUBTERFUGE.LASTLOG/SUBTERFUGE.LASTLOG.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/PROOT.EXEC/PROOT.EXEC.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/CONNECT.UNEXPECTED/CONNECT.UNEXPECTED.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/SUBTERFUGE.CURL.SOCKS/SUBTERFUGE.CURL.SOCKS.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/KILL.MALICIOUS.PROC/KILL.MALICIOUS.PROC.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/SUBTERFUGE.FILEBELOWDEV/SUBTERFUGE.FILEBELOWDEV.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/RECON.FIND.SUID/RECON.FIND.SUID.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/STDIN.NETWORK/STDIN.NETWORK.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/DEV.SHM.EXEC/DEV.SHM.EXEC.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/LOAD.BPF.PROG/LOAD.BPF.PROG.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/BASE64.SHELLSCRIPT/BASE64.SHELLSCRIPT.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/RECON.AWS.CREDS/RECON.AWS.CREDS.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/SUSPICIOUS.NETTOOL/SUSPICIOUS.NETTOOL.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/BPF.BACKDOOR/BPF.BACKDOOR.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/LD.SO.PRELOAD/LD.SO.PRELOAD.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/LAUNCH.PKGMGR/LAUNCH.PKGMGR.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/ROOTKIT.DIAMORPHINE/ROOTKIT.DIAMORPHINE.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/SYSTEM.SERVICE.MOD/SYSTEM.SERVICE.MOD.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/LPE.POLKIT/LPE.POLKIT.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/LD.LINUX.EXEC/LD.LINUX.EXEC.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/PTRACE.SELF.DEBUG/PTRACE.SELF.DEBUG.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/TIMESTOMP/TIMESTOMP.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/USERFAULTFD.HANDLER/USERFAULTFD.HANDLER.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/RECON.GPG/RECON.GPG.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/SYMLINK.ETC.SHADOW/SYMLINK.ETC.SHADOW.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/READ.ENV.PROC/READ.ENV.PROC.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/RECON.EC2.METADATA/RECON.EC2.METADATA.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/TAMPER.SHELL.HISTORY/TAMPER.SHELL.HISTORY.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/CONNECT.IPFS/CONNECT.IPFS.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/READ.UNTRUSTED/READ.UNTRUSTED.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/PID.HIJACK/PID.HIJACK.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/BASE64.PYTHON/BASE64.PYTHON.scap filter=lfs diff=lfs merge=lfs -text
docker/atomics-overrides/XMRIG.EXEC/XMRIG.EXEC.scap filter=lfs diff=lfs merge=lfs -text
